/* Solar system animation from "https://codepen.io/everdimension/pen/DwREaP" */

/* Original value refers to the height and width properties of the class/id. Every planet and moon has the orbit as parent. */
/* Original value: 1300px */




/* STARTPUNKT */

#maincontainer {
  aspect-ratio: 1;
  height: 80vh;
  /* margin-left: 40%; */
}

/* Original value: 1200px */
.solar-system {
  position: relative;
  width: 92.3%;
  height: 92.3%;
  margin: auto;
  overflow: hidden;
}

/* Some positioning rules that are common for all objects */
.orbit {
  border: 1px dashed #666;
}

#sun,
.orbit,
.orbit + div,
.orbit + div > div {
  position: absolute;
}

.orbit,
.orbit + img,
.orbit + div > img {
  position: absolute;
}

#sun,
.orbit,
.orbit + div {
  top: 50%;
  left: 50%;
}

.orbit,
.orbit + img {
  top: 50%;
  left: 50%;
}

.orbit + div > div {
  top: 0;
  left: 50%;
}

.orbit + div > img {
  top: 0;
  left: 50%;
}

.orbit,
.orbit + div div,
#earth {
  border-radius: 50%;
}

.orbit,
.orbit + div img {
  border-radius: 50%;
}


/* Individual objects rules. They are pretty much the same for 
all objects and basically only vary in orbit size 
and planet size. And colors :) */

#sun {
  /* Positions the top-left corner of the image to be *
	/* in the middle of the box */
  /* Original value: 200px */

  width: 16.7%;
  height: 16.7%;
  aspect-ratio: 1;
  background-color: #fae20a;
  margin-top: -8.3%;
  margin-left: -8.3%;
  border-radius: 50%;
  box-shadow: 0 0 84px orange;
}

#earth {
  position: absolute;
  top: 0;
  left: 50%;
  height: 10%;
  width: 10%;
  margin-left: -5%;
  margin-top: -5%;
  border-radius: 50%;
  box-shadow: 0 0 34px #3a4385;
}

/* Original value: 500px */
.earth-orbit,
.earth-spin {
  width: 44.7%;
  height: 44.7%;
  margin-left: -22.35%;
  margin-top: -22.35%;
}

#moon {
  margin-top: -6.7%;
  margin-left: -6.7%;
  height: 13.3%;
  width: 13.3%;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 14px #3a4385;
}
.moon-orbit,
.moon-spin {
  height: 18%;
  width: 18%;
  margin-top: -9%;
  margin-left: -9%;
  border-color: #447;
}

#venus {
  margin-top: -5.4%;
  margin-left: -5.4%;
  height: 10.8%;
  width: 10.8%;
  background-color: #3498db;
  box-shadow: 0 0 34px #3a4385;
}

/* Original value: 370px */
.venus-orbit,
.venus-spin {
  margin-top: -15.4%;
  margin-left: -15.4%;
  width: 30.8%;
  height: 30.8%;
}

#mercury {
  margin-top: -4.8%;
  margin-left: -4.8%;
  height: 8.9%;
  width: 8.9%;
  background-color: #a65e22;
  /* box-shadow: 0 0 34px #3a4385; */
}

/* Original value: 280px */
.mercury-orbit,
.mercury-spin {
  width: 23.3%;
  height: 23.3%;
  margin-left: -11.7%;
  margin-top: -11.7%;
}

#mars {
  margin-top: -2.29%;
  margin-left: -2.29%;
  height: 4.57%;
  width: 4.57%;
  background-color: #863222;
  box-shadow: 0 0 14px #a64232;
}

/* Original value: 700px */
.mars-orbit,
.mars-spin {
  width: 58.3%;
  height: 58.3%;
  margin-left: -29.17%;
  margin-top: -29.17%;
}

#jupiter {
  margin-top: -2%;
  margin-left: -2%;
  height: 4%;
  width: 4%;
  background-color: beige;
  box-shadow: 0 0 14px #a64232;
}

/* Original value: 800px */
.jupiter-orbit,
.jupiter-spin {
  width: 66.7%;
  height: 66.7%;
  margin-left: -33.3%;
  margin-top: -33.3%;
}

#saturn {
  margin-top: -3%;
  margin-left: -3%;
  height: 6%;
  width: 6%;
}

/* Original value: 900 px */
.saturn-orbit,
.saturn-spin {
  width: 75%;
  height: 75%;
  margin-left: -37.5%;
  margin-top: -37.5%;
}

#uranus {
  margin-top: -1.6%;
  margin-left: -1.6%;
  height: 3.2%;
  width: 3.2%;
  background-color: rgb(70, 67, 67);
  box-shadow: 0 0 14px #424141;
}

/* Original value: 1000px */
.uranus-orbit,
.uranus-spin {
  width: 83.3%;
  height: 83.3%;
  margin-left: -41.67%;
  margin-top: -41.67%;
}

#neptune {
  margin-top: -1.45%;
  margin-left: -1.45%;
  height: 2.9%;
  width: 2.9%;
  background-color: rgb(35, 92, 179);
  box-shadow: 0 0 14px #41ebe2;
}

/* Original value: 1100px */
.neptune-orbit,
.neptune-spin {
  width: 91.7%;
  height: 91.7%;
  margin-left: -45.83%;
  margin-top: -45.83%;
}

/* Spinning animations */

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

.earth-spin {
  animation: spin-right 36.5s linear infinite;
}
.moon-spin {
  animation: spin-right 3s linear infinite;
}
.venus-spin {
  animation: spin-right 22s linear infinite;
}
.mercury-spin {
  animation: spin-right 8.8s linear infinite;
}
.mars-spin {
  animation: spin-right 68.7s linear infinite;
}
.jupiter-spin {
  animation: spin-right 98.7s linear infinite;
}

.saturn-spin {
  animation: spin-right 128.7s linear infinite;
}

.uranus-spin {
  animation: spin-right 135.7s linear infinite;
}

.neptune-spin {
  animation: spin-right 169.7s linear infinite;
}
